$font:#201E29;
$font-transparent: #2e3454b9;
$background-primary: #e9eef7;
$background-secondary: #FFFFFF;
$primary: #26c1fc;
// $header-background: #7a7c9c;
$highlight: #5269ee;
$font-secondary: #FCFFFF;
$error:#951414;

